<form method="post" action="{{ path('author_delete', {'id': author.id}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir este autor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button class="btn btn-danger mb-3">Excluir</button>
</form>