<form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir este livro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-danger mb-3">Excluir</button>
</form>
